html
    head
        title(data-ng-bind="title + ' | SteveMassey.io'")
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name='description', content='')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='apple-touch-icon', href='apple-touch-icon.png')
        link(rel='stylesheet', href='css/bootstrap.min.css')
        link(rel='stylesheet' href='bower_components/fontawesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='css/app.css')
        script(src='lib/modernizr-2.8.3-respond-1.4.2.min.js')

    body

        nav(class=['navbar', 'navbar-default', 'navbar-fixed-top'], data-ng-controller='HeaderCtrl')
            div.container
                div.navbar-header
                    button(
                        type='button'
                        class=['navbar-toggle', 'collapsed']
                        data-toggle='collapse'
                        data-target='#bs-example-navbar-collapse-1'
                        aria-expanded='false')
                        span.sr-only Toggle navigation

                        span.icon-bar
                        span.icon-bar
                        span.icon-bar

                    a.navbar-brand(href='#/about') SteveMassey.io

                div#bs-example-navbar-collapse-1(class=['collapse navbar-collapse'])
                    ul(class=['nav navbar-nav'])
                        li(data-ng-class="{ 'active': isActive('/about') }")
                            a(href='#/about') About me
                        li(data-ng-class="{ 'active': isActive('/projects') }")
                            a(href='#/projects') Projects
                        li(data-ng-class="{ 'active': isActive('/contact') }")
                            a(href='#/contact') Contact


        .container

            block content


    footer.footer
        div.container
            p.text-muted
                | &copy; Steve Massey #{moment().format('YYYY')}
                | &middot; <a href="mailto:steve@stevemassey.io">steve@stevemassey.io</a>